*{
    margin : 0px;
    padding : 0px;

}

div.form{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}
form{
    margin : 25%;
}

input{
    margin : 12px 0 12px 0;
}
